BattleCityEdit/Resources/BattleCityData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="battlecity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="general">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tsadata" type="xs:string" />
                            <xs:element name="attributedata" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="player">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tankstatus1" type="xs:unsignedShort" />
                            <xs:element name="tankstatus2" type="xs:string" />
                            <xs:element name="startinglives" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="palette">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="levelpalette" type="xs:unsignedShort" />
                            <xs:element name="spritepalette" type="xs:unsignedShort" />
                            <xs:element name="paletteframe1" type="xs:unsignedShort" />
                            <xs:element name="paletteframe2" type="xs:unsignedShort" />
                            <xs:element name="titlescrpalette" type="xs:string" />
                            <xs:element name="levelselpalette" type="xs:string" />
                            <xs:element name="palettemisc1" type="xs:string" />
                            <xs:element name="palettemisc2" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="flagtsa">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="normaltsa" type="xs:string" />
                            <xs:element name="fortifiedtsa" type="xs:unsignedShort" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="patterntables">
                    <xs:complexType>
                        <xs:attribute name="bg" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="sprite" type="xs:unsignedShort" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="level">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="offset" type="xs:string" use="required" />
                        <xs:attribute name="enemy" type="xs:string" use="required" />
                        <xs:attribute name="amount" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>